@model SkyRoute.ViewModels.OrderSummaryVM

@{
    ViewData["Title"] = "Overzicht";
}

<main>
    @Html.AntiForgeryToken()
    <div class="container py-5">
        @await Html.PartialAsync("_BookingWizard", "overzicht")
    </div>

    @if (Model.OutboundFlight != null && Model.OutboundFlight.Flights.Any())
    {
        <h2 class="text-primary mb-4">Heenvluchten</h2>
        <div class="row g-4 mb-4">

            @await Html.PartialAsync("~/Views/FlightSearch/_FlightSeachResultPartial.cshtml", Model.OutboundFlight, new
            ViewDataDictionary(ViewData)
                {
                { "TripType", "outbound" },
                { "SelectedTripClass", Model.TripClass.ToString().ToLower() },
                { "selected", false},
                { "readOnly", true}
            })

    </div>
        }

    @if (Model.ReturnFlight != null && Model.ReturnFlight.Flights.Any())
    {
        <h2 class="text-primary mb-4">Retourluchten</h2>
        <div class="row g-4 mb-4">

            @await Html.PartialAsync("~/Views/FlightSearch/_FlightSeachResultPartial.cshtml", Model.ReturnFlight, new
            ViewDataDictionary(ViewData)
                {
                { "TripType", "retour" },
                { "SelectedTripClass", Model.TripClass.ToString().ToLower() },
                { "selected", false},
                { "readOnly", true}
            })

    </div>
        }

    @if (Model.PassengerListVM.Passengers.Any())
    {
        <h2 class="text-primary mb-4">Passagiers</h2>
        <div class="row g-4 mb-4">

            @for (int i = 0; i < Model.PassengerListVM.Passengers.Count; i++)
            {
                @await Html.PartialAsync("~/Views/Passengers/_PassengerViewPartial.cshtml", Model.PassengerListVM.Passengers[i])
            }
        </div>
    }

    @if (Model.MealsSelection.Count > 0)
    {
        <h2 class="text-primary mb-4">Maaltijden</h2>
        <div class="row g-4 mb-4">
            @for (int i = 0; i < Model.MealsSelection.Count; i++)
            {
                @await Html.PartialAsync("~/Views/MealOption/_flightMealSelectionView.cshtml", Model.MealsSelection[i])
            }
        </div>
    }

</main>